apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ wordpress_app }}
  namespace: {{ wordpress_namespace }}
  labels:
    app: {{ wordpress_app }}
  annotations:
    haproxy.org/path-rewrite: "/"
spec:
  rules:
    - host: {{ wordpress_app }}.local.es
      http:
        paths:
          - path: /wordpress
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ wordpress_app }}
                port:
                  number: 80
            