apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ wordpress_mariadb_app }}-nfs-pv
  namespace: {{ wordpress_namespace }}
spec:
  capacity:
    storage: {{ wordpress_storage_capacity }}
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Recycle
  storageClassName: nfs
  mountOptions:
    - hard
    - nfsvers=4.1
  nfs:
    path: {{ wordpress_nfs_path }}
    server: {{ wordpress_nfs_host }}
