apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ wordpress_app }}-nfs-pvc
  namespace: {{ wordpress_namespace }}
spec:
  storageClassName: nfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ wordpress_storage }}